* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: red; */
}

/* ul {
    list-style-image: url(./images/Без\ названия.png)
} */

ul {
    list-style-type: disc;
    list-style-image: linear-gradient(130deg, red, blue);
    list-style-position: outside;
    width: 400px;
}

/* ol li::marker {
    color: red;
    content: counter(example);
} */

ol {
    counter-reset: example 0;
    display: flex;
    gap: 20px;
    list-style: none;
}

li {
    counter-increment: example 2;
    width: 350px;
    background-color: rgba(81, 81, 192, 0.459);
    color: white;
    padding: 20px;
    position: relative;
}

li::after {
    content: counter(example);
    color: rgba(255, 255, 255, 0.541);
    font-size: 6rem;
    position: absolute;
    right: 10px;
    top: -20px;
}

p {
    font-size: 16px;
}